In [316]:
#Start by importing the necessary libraries.
import pandas as pd

#Retrieve the dataset from this link and assign it to a variable ‘chipo’.
chipo=pd.read_csv('./chipotle.tsv', sep="\t")

#Display the first 10 rows of ‘chipo’ using the head() function.
chipo.head(11) # first 10 rows

,order_id,quantity,item_name,choice_description,item_price
0,1,2,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45

In [232]:
# Determine the total number of entries (rows) in ‘chipo’ using shape or info().
chipo.info() #4623 rows
chipo.shape[0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

4622

In [233]:
#Use shape or columns to find the total number of columns in ‘chipo’.
chipo.columns #5 columns using columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [234]:
chipo.shape[1] #5 columns using shape

5

In [235]:
#Use columns to print all the column names.
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [236]:
#Utilize index to understand how the DataFrame is indexed.
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [237]:
#Use the value_counts() method on the ‘item_name’ column to find the most ordered item.
print(chipo['item_name'].value_counts())

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64

In [238]:
#Find the total number of items ordered by summing the ‘quantity’ column.
totalquantity = chipo['quantity'].astype('int').sum()

print(totalquantity)

4972

In [239]:
#Use value_counts() on ‘choice_description’ to find the most ordered item from this column.
print(chipo['choice_description'].value_counts())

choice_description
[Diet Coke]                                                                                                                                      134
[Coke]                                                                                                                                           123
[Sprite]                                                                                                                                          77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                            42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                 40
                                                                                                                                                ...
[Fresh Tomato Salsa (Mild), [Pinto Beans, Black Beans, Rice, Cheese, Sour Cream, Lettuce]]                                                         1
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Cheese, Sour Cream, Lettuce]]      1
[Fresh Tomato (Mild), [Guacamole, Rice, Black Beans]]                                                                                              1
[[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Cheese, Lettuce]]                                    1
[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]                                                                   1
Name: count, Length: 1043, dtype: int64

In [318]:
#Convert ‘item_price’ to a float datatype using apply() and lambda. (Hint: You’ll need to remove the ‘$’ from the prices first)

chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$','')))
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,2,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [319]:
# Calculate the total revenue for the dataset by summing the ‘item_price’ column.

totprice = chipo['item_price'].astype('float').sum()
print(totprice)

34500.16

In [320]:
#Find the total number of orders by using the nunique() function on the ‘order_id’ column.
print("%s Total number of orders : " % chipo["order_id"].nunique())

1834 Total number of orders :

In [323]:
#Compute the average order value by dividing the total revenue by the number of orders.
chipo.head()
chipo['total'] = chipo.item_price.astype('float') * chipo.quantity.astype('int')
print("Average order value : ", chipo['total'].sum() / chipo["order_id"].nunique())

Average order value :  21.39553435114504

In [322]:
#Determine the total number of unique items sold using the nunique() function on the ‘item_name’ column.
print("%s Unique items : " % chipo["item_name"].nunique())

50 Unique items :